openapi: 3.2.0
info:
  title: Clash of Clans API
  version: 1.0.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.clashofclans.com/v1
security:
  - bearerAuth: []
tags:
  - name: clans
    description: Access clan specific information
  - name: players
    description: Access player specific information
  - name: leagues
    description: Access league information
  - name: locations
    description: Access global and local rankings
  - name: goldpass
    description: Access information about gold pass
  - name: labels
    description: List player and clan labels
  - name: esports
    description: Esports related APIs
paths:
  /clans/{clanTag}/currentwar/leaguegroup:
    get:
      tags:
        - clans
      operationId: getClanWarLeagueGroup
      summary: Retrieve information about clan's current clan war league group
      description: Retrieve information about clan's current clan war league group
      parameters:
        - $ref: "#/components/parameters/clanTag"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClanWarLeagueGroup"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /clanwarleagues/wars/{warTag}:
    get:
      tags:
        - clans
      operationId: getClanWarLeagueWar
      summary: Retrieve information about individual clan war league war
      description: Retrieve information about individual clan war league war
      parameters:
        - $ref: "#/components/parameters/warTag"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClanWar"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /clans/{clanTag}/warlog:
    get:
      tags:
        - clans
      operationId: getClanWarLog
      summary: Retrieve clan's clan war log
      description: Retrieve clan's clan war log
      parameters:
        - $ref: "#/components/parameters/clanTag"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/after"
        - $ref: "#/components/parameters/before"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClanWarLog"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /clans:
    get:
      tags:
        - clans
      operationId: searchClans
      summary: Search clans
      description: |
        Search all clans by name and/or filtering the results using various criteria. At least one filtering criteria must be defined and if name is used as part of search, it is required to be at least three characters long. It is not possible to specify ordering for results so clients should not rely on any specific ordering as that may change in the future releases of the API.
      parameters:
        - name: name
          in: query
          required: false
          description: Search clans by name. If name is used as part of search query, it needs to be at least three characters long. Name search parameter is interpreted as wild card search, so it may appear anywhere in the clan name.
          schema:
            type: string
        - name: warFrequency
          in: query
          required: false
          description: Filter by clan war frequency
          schema:
            type: string
        - name: locationId
          in: query
          required: false
          description: Filter by clan location identifier. For list of available locations, refer to getLocations operation.
          schema:
            type: integer
        - name: minMembers
          in: query
          required: false
          description: Filter by minimum number of clan members
          schema:
            type: integer
        - name: maxMembers
          in: query
          required: false
          description: Filter by maximum number of clan members
          schema:
            type: integer
        - name: minClanPoints
          in: query
          required: false
          description: Filter by minimum amount of clan points.
          schema:
            type: integer
        - name: minClanLevel
          in: query
          required: false
          description: Filter by minimum clan level.
          schema:
            type: integer
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/after"
        - $ref: "#/components/parameters/before"
        - name: labelIds
          in: query
          required: false
          description: Comma separatered list of label IDs to use for filtering results.
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClanList"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /clans/{clanTag}/currentwar:
    get:
      tags:
        - clans
      operationId: getCurrentWar
      summary: Retrieve information about clan's current clan war
      description: Retrieve information about clan's current clan war
      parameters:
        - $ref: "#/components/parameters/clanTag"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClanWar"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /clans/{clanTag}:
    get:
      tags:
        - clans
      operationId: getClan
      summary: Get clan information
      description: |
        Get information about a single clan by clan tag. Clan tags can be found using clan search operation. Note that clan tags start with hash character '#' and that needs to be URL-encoded properly to work in URL, so for example clan tag '#2ABC' would become '%232ABC' in the URL.
      parameters:
        - $ref: "#/components/parameters/clanTag"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Clan"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /clans/{clanTag}/members:
    get:
      tags:
        - clans
      operationId: getClanMembers
      summary: List clan members
      description: List clan members.
      parameters:
        - $ref: "#/components/parameters/clanTag"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/after"
        - $ref: "#/components/parameters/before"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClanMemberList"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /clans/{clanTag}/capitalraidseasons:
    get:
      tags:
        - clans
      operationId: getCapitalRaidSeasons
      summary: Retrieve clan's capital raid seasons
      description: Retrieve clan's capital raid seasons
      parameters:
        - $ref: "#/components/parameters/clanTag"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/after"
        - $ref: "#/components/parameters/before"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClanCapitalRaidSeasons"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /players/{playerTag}:
    get:
      tags:
        - players
      operationId: getPlayer
      summary: Get player information
      description: |
        Get information about a single player by player tag. Player tags can be found either in game or by from clan member lists. Note that player tags start with hash character '#' and that needs to be URL-encoded properly to work in URL, so for example player tag '#2ABC' would become '%232ABC' in the URL.
      parameters:
        - $ref: "#/components/parameters/playerTag"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Player"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /players/{playerTag}/battlelog:
    get:
      tags:
        - players
      operationId: getBattleLog
      summary: Get player battle log
      description: Get player battle log for recent battles.
      parameters:
        - $ref: "#/components/parameters/playerTag"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BattleLogEntryList"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /players/{playerTag}/verifytoken:
    post:
      tags:
        - players
      operationId: verifyToken
      summary: Verify player API token that can be found from the game settings.
      description: |
        Verify player API token that can be found from the game settings. This API call can be used to check that players own the game accounts they claim to own as they need to provide the one-time use API token that exists inside the game.
      parameters:
        - $ref: "#/components/parameters/playerTag"
      requestBody:
        required: true
        description: Request body
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerifyTokenRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerifyToken"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /players/{playerTag}/leaguehistory:
    get:
      tags:
        - players
      operationId: getLeagueHistory
      summary: Get player league history
      description: Get player league history for ranked battles.
      parameters:
        - $ref: "#/components/parameters/playerTag"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LeagueSeasonResultList"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /leaguetiers/{leagueTierId}:
    get:
      tags:
        - leagues
      operationId: getLeagueTier
      summary: Get league tier information
      description: Get league tier information
      parameters:
        - $ref: "#/components/parameters/leagueTierId"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LeagueTier"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /capitalleagues:
    get:
      tags:
        - leagues
      operationId: getCapitalLeagues
      summary: List capital leagues
      description: List capital leagues
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/after"
        - $ref: "#/components/parameters/before"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CapitalLeagueList"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /leaguetiers:
    get:
      tags:
        - leagues
      operationId: getLeagueTiers
      summary: List league tiers
      description: List league tiers
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/after"
        - $ref: "#/components/parameters/before"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LeagueTierList"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /leagues:
    get:
      tags:
        - leagues
      operationId: getLeagues
      summary: List leagues
      description: List leagues
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/after"
        - $ref: "#/components/parameters/before"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LeagueList"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /leagues/{leagueId}/seasons/{seasonId}:
    get:
      tags:
        - leagues
      operationId: getLeagueSeasonRankings
      summary: Get league season rankings
      description: |
        Get league season rankings. Note that league season information is available only for Legend League.
      parameters:
        - $ref: "#/components/parameters/leagueId"
        - $ref: "#/components/parameters/seasonId"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/after"
        - $ref: "#/components/parameters/before"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlayerRankingList"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /capitalleagues/{leagueId}:
    get:
      tags:
        - leagues
      operationId: getCapitalLeague
      summary: Get capital league information
      description: Get capital league information
      parameters:
        - $ref: "#/components/parameters/leagueId"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CapitalLeague"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /builderbaseleagues/{leagueId}:
    get:
      tags:
        - leagues
      operationId: getBuilderBaseLeague
      summary: Get Builder Base league information
      description: Get Builder Base league information
      parameters:
        - $ref: "#/components/parameters/leagueId"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BuilderBaseLeague"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /builderbaseleagues:
    get:
      tags:
        - leagues
      operationId: getBuilderBaseLeagues
      summary: List Builder Base leagues
      description: List Builder Base leagues
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/after"
        - $ref: "#/components/parameters/before"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BuilderBaseLeagueList"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /leagues/{leagueId}:
    get:
      tags:
        - leagues
      operationId: getLeague
      summary: Get league information
      description: Get league information
      parameters:
        - $ref: "#/components/parameters/leagueId"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/League"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /leaguegroup/{leagueGroupTag}/{leagueSeasonId}:
    get:
      tags:
        - leagues
      operationId: getLeagueGroup
      summary: Get ranked battle league group information for season and player
      description: Get ranked battle league group information for season and player
      parameters:
        - $ref: "#/components/parameters/leagueGroupTag"
        - $ref: "#/components/parameters/leagueSeasonId"
        - $ref: "#/components/parameters/playerTagQuery"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LeagueGroup"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /leagues/{leagueId}/seasons:
    get:
      tags:
        - leagues
      operationId: getLeagueSeasons
      summary: Get league seasons
      description: |
        Get league seasons. Note that league season information is available only for Legend League.
      parameters:
        - $ref: "#/components/parameters/leagueId"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/after"
        - $ref: "#/components/parameters/before"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LeagueSeasonList"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /warleagues/{leagueId}:
    get:
      tags:
        - leagues
      operationId: getWarLeague
      summary: Get war league information
      description: Get war league information
      parameters:
        - $ref: "#/components/parameters/leagueId"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WarLeague"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /warleagues:
    get:
      tags:
        - leagues
      operationId: getWarLeagues
      summary: List war leagues
      description: List war leagues
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/after"
        - $ref: "#/components/parameters/before"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WarLeagueList"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /locations/{locationId}/rankings/clans:
    get:
      tags:
        - locations
      operationId: getClanRanking
      summary: Get clan rankings for a specific location
      description: Get clan rankings for a specific location
      parameters:
        - $ref: "#/components/parameters/locationId"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/after"
        - $ref: "#/components/parameters/before"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClanRankingList"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /locations/{locationId}/rankings/players:
    get:
      tags:
        - locations
      operationId: getPlayerRanking
      summary: Get player rankings for a specific location
      description: Get player rankings for a specific location
      parameters:
        - $ref: "#/components/parameters/locationId"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/after"
        - $ref: "#/components/parameters/before"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlayerRankingList"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /locations/{locationId}/rankings/players-builder-base:
    get:
      tags:
        - locations
      operationId: getPlayerBuilderBaseRanking
      summary: Get player Builder Base rankings for a specific location
      description: Get player Builder Base rankings for a specific location
      parameters:
        - $ref: "#/components/parameters/locationId"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/after"
        - $ref: "#/components/parameters/before"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlayerBuilderBaseRankingList"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /locations/{locationId}/rankings/clans-builder-base:
    get:
      tags:
        - locations
      operationId: getClanBuilderBaseRanking
      summary: Get clan Builder Base rankings for a specific location
      description: Get clan Builder Base rankings for a specific location
      parameters:
        - $ref: "#/components/parameters/locationId"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/after"
        - $ref: "#/components/parameters/before"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClanBuilderBaseRankingList"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /locations:
    get:
      tags:
        - locations
      operationId: getLocations
      summary: List locations
      description: List locations
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/after"
        - $ref: "#/components/parameters/before"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LocationList"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /locations/{locationId}/rankings/capitals:
    get:
      tags:
        - locations
      operationId: getClanCapitalRanking
      summary: Get capital rankings for a specific location
      description: Get capital rankings for a specific location
      parameters:
        - $ref: "#/components/parameters/locationId"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/after"
        - $ref: "#/components/parameters/before"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClanCapitalRankingList"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /locations/{locationId}:
    get:
      tags:
        - locations
      operationId: getLocation
      summary: Get location information
      description: Get information about specific location
      parameters:
        - $ref: "#/components/parameters/locationId"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Location"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /goldpass/seasons/current:
    get:
      tags:
        - goldpass
      operationId: getCurrentGoldPassSeason
      summary: Get information about the current gold pass season.
      description: Get information about the current gold pass season.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoldPassSeason"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /labels/players:
    get:
      tags:
        - labels
      operationId: getPlayerLabels
      summary: List player labels
      description: List player labels
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/after"
        - $ref: "#/components/parameters/before"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LabelList"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /labels/clans:
    get:
      tags:
        - labels
      operationId: getClanLabels
      summary: List clan labels
      description: List clan labels
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/after"
        - $ref: "#/components/parameters/before"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LabelList"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  parameters:
    clanTag:
      name: clanTag
      in: path
      required: true
      description: Tag of the clan.
      schema:
        type: string
    warTag:
      name: warTag
      in: path
      required: true
      description: Tag of the war.
      schema:
        type: string
    playerTag:
      name: playerTag
      in: path
      required: true
      description: Tag of the player.
      schema:
        type: string
    leagueTierId:
      name: leagueTierId
      in: path
      required: true
      description: Identifier of the league tier.
      schema:
        type: string
    leagueId:
      name: leagueId
      in: path
      required: true
      description: Identifier of the league.
      schema:
        type: string
    seasonId:
      name: seasonId
      in: path
      required: true
      description: Identifier of the season.
      schema:
        type: string
    leagueGroupTag:
      name: leagueGroupTag
      in: path
      required: true
      description: Identifier of the league group.
      schema:
        type: string
    leagueSeasonId:
      name: leagueSeasonId
      in: path
      required: true
      description: Identifier of the league season.
      schema:
        type: string
    playerTagQuery:
      name: playerTag
      in: query
      required: true
      description: Tag of the player
      schema:
        type: string
    locationId:
      name: locationId
      in: path
      required: true
      description: Identifier of the location to retrieve.
      schema:
        type: string
    limit:
      name: limit
      in: query
      required: false
      description: Limit the number of items returned in the response.
      schema:
        type: integer
    after:
      name: after
      in: query
      required: false
      description: Return only items that occur after this marker. Before marker can be found from the response, inside the 'paging' property. Note that only after or before can be specified for a request, not both.
      schema:
        type: string
    before:
      name: before
      in: query
      required: false
      description: Return only items that occur before this marker. Before marker can be found from the response, inside the 'paging' property. Note that only after or before can be specified for a request, not both.
      schema:
        type: string
  responses:
    BadRequest:
      description: Client provided incorrect parameters for the request.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ClientError"
    Forbidden:
      description: Access denied, either because of missing/incorrect credentials or used API token does not grant access to the requested resource.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ClientError"
    NotFound:
      description: Resource was not found.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ClientError"
    TooManyRequests:
      description: Request was throttled, because amount of requests was above the threshold defined for the used API token.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ClientError"
    InternalServerError:
      description: Unknown error happened when handling the request.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ClientError"
    ServiceUnavailable:
      description: Service is temprorarily unavailable because of maintenance.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ClientError"
  schemas:
    WarLeagueList:
      type: array
      items:
        $ref: "#/components/schemas/WarLeague"
    WarLeague:
      type: object
      properties:
        name:
          $ref: "#/components/schemas/JsonLocalizedName"
        id:
          type: integer
    JsonLocalizedName:
      type: object
    ServiceVersion:
      type: object
      properties:
        major:
          type: integer
        minor:
          type: integer
        content:
          type: integer
    LabelList:
      type: array
      items:
        $ref: "#/components/schemas/Label"
    Label:
      type: object
      properties:
        name:
          $ref: "#/components/schemas/JsonLocalizedName"
        id:
          type: integer
        iconUrls:
          type: object
    ClanCapitalRaidSeasons:
      type: array
      items:
        $ref: "#/components/schemas/ClanCapitalRaidSeason"
    ClanCapitalRaidSeason:
      type: object
      properties:
        attackLog:
          type: array
          items:
            $ref: "#/components/schemas/ClanCapitalRaidSeasonAttackLogEntry"
        defenseLog:
          type: array
          items:
            $ref: "#/components/schemas/ClanCapitalRaidSeasonDefenseLogEntry"
        state:
          type: string
        startTime:
          type: string
        endTime:
          type: string
        capitalTotalLoot:
          type: integer
        raidsCompleted:
          type: integer
        totalAttacks:
          type: integer
        enemyDistrictsDestroyed:
          type: integer
        offensiveReward:
          type: integer
        defensiveReward:
          type: integer
        members:
          type: array
          items:
            $ref: "#/components/schemas/ClanCapitalRaidSeasonMember"
    ClanCapitalRaidSeasonMemberList:
      type: array
      items:
        $ref: "#/components/schemas/ClanCapitalRaidSeasonMember"
    ClanCapitalRaidSeasonMember:
      type: object
      properties:
        tag:
          type: string
        name:
          type: string
        attacks:
          type: integer
        attackLimit:
          type: integer
        bonusAttackLimit:
          type: integer
        capitalResourcesLooted:
          type: integer
    ClanCapitalRaidSeasonDefenseLogList:
      type: array
      items:
        $ref: "#/components/schemas/ClanCapitalRaidSeasonDefenseLogEntry"
    ClanCapitalRaidSeasonDefenseLogEntry:
      type: object
      properties:
        attacker:
          $ref: "#/components/schemas/ClanCapitalRaidSeasonClanInfo"
        attackCount:
          type: integer
        districtCount:
          type: integer
        districtsDestroyed:
          type: integer
        districts:
          type: array
          items:
            $ref: "#/components/schemas/ClanCapitalRaidSeasonDistrict"
    ClanCapitalRaidSeasonDistrictList:
      type: array
      items:
        $ref: "#/components/schemas/ClanCapitalRaidSeasonDistrict"
    ClanCapitalRaidSeasonDistrict:
      type: object
      properties:
        stars:
          type: integer
        name:
          $ref: "#/components/schemas/JsonLocalizedName"
        id:
          type: integer
        destructionPercent:
          type: integer
        attackCount:
          type: integer
        totalLooted:
          type: integer
        attacks:
          type: array
          items:
            $ref: "#/components/schemas/ClanCapitalRaidSeasonAttack"
        districtHallLevel:
          type: integer
    ClanCapitalRaidSeasonAttackList:
      type: array
      items:
        $ref: "#/components/schemas/ClanCapitalRaidSeasonAttack"
    ClanCapitalRaidSeasonAttack:
      type: object
      properties:
        attacker:
          $ref: "#/components/schemas/ClanCapitalRaidSeasonAttacker"
        destructionPercent:
          type: integer
        stars:
          type: integer
    ClanCapitalRaidSeasonAttacker:
      type: object
      properties:
        tag:
          type: string
        name:
          type: string
    ClanCapitalRaidSeasonClanInfo:
      type: object
      properties:
        tag:
          type: string
        name:
          type: string
        level:
          type: integer
        badgeUrls:
          type: object
    ClanCapitalRaidSeasonAttackLogList:
      type: array
      items:
        $ref: "#/components/schemas/ClanCapitalRaidSeasonAttackLogEntry"
    ClanCapitalRaidSeasonAttackLogEntry:
      type: object
      properties:
        defender:
          $ref: "#/components/schemas/ClanCapitalRaidSeasonClanInfo"
        attackCount:
          type: integer
        districtCount:
          type: integer
        districtsDestroyed:
          type: integer
        districts:
          type: array
          items:
            $ref: "#/components/schemas/ClanCapitalRaidSeasonDistrict"
    Location:
      type: object
      properties:
        localizedName:
          type: string
        id:
          type: integer
        name:
          type: string
        isCountry:
          type: boolean
        countryCode:
          type: string
    Replay:
      type: object
      properties:
        replayData:
          $ref: "#/components/schemas/JsonNode"
        replayTag:
          type: string
    JsonNode:
      type: object
    ClanCapitalRankingList:
      type: array
      items:
        $ref: "#/components/schemas/ClanCapitalRanking"
    ClanCapitalRanking:
      type: object
      properties:
        clanPoints:
          type: integer
        clanCapitalPoints:
          type: integer
    WarStatusList:
      type: array
      items:
        $ref: "#/components/schemas/WarStatus"
    WarStatus:
      type: object
      properties:
        statusCode:
          type: integer
        clanTag:
          type: string
        enemyClanTag:
          type: string
        warState:
          type: string
          enum:
            - CLAN_NOT_FOUND
            - ACCESS_DENIED
            - NOT_IN_WAR
            - IN_MATCHMAKING
            - ENTER_WAR
            - MATCHED
            - PREPARATION
            - WAR
            - IN_WAR
            - ENDED
        timestamp:
          type: string
    LocationList:
      type: array
      items:
        $ref: "#/components/schemas/Location"
    ClanMemberList:
      type: array
      items:
        $ref: "#/components/schemas/ClanMember"
    ClanMember:
      type: object
      properties:
        league:
          $ref: "#/components/schemas/League"
        leagueTier:
          $ref: "#/components/schemas/LeagueTier"
        builderBaseLeague:
          $ref: "#/components/schemas/BuilderBaseLeague"
        tag:
          type: string
        name:
          type: string
        role:
          type: array
          items:
            type: string
        townHallLevel:
          type: integer
        expLevel:
          type: integer
        clanRank:
          type: integer
        previousClanRank:
          type: integer
        donations:
          type: integer
        donationsReceived:
          type: integer
        trophies:
          type: integer
        builderBaseTrophies:
          type: integer
        playerHouse:
          $ref: "#/components/schemas/PlayerHouse"
    PlayerHouse:
      type: object
      properties:
        elements:
          type: array
          items:
            $ref: "#/components/schemas/PlayerHouseElement"
    PlayerHouseElementList:
      type: array
      items:
        $ref: "#/components/schemas/PlayerHouseElement"
    PlayerHouseElement:
      type: object
      properties:
        id:
          type: integer
        type:
          type: string
          enum:
            - GROUND
            - ROOF
            - FOOT
            - DECO
    BuilderBaseLeague:
      type: object
      properties:
        name:
          $ref: "#/components/schemas/JsonLocalizedName"
        id:
          type: integer
    LeagueTier:
      type: object
      properties:
        name:
          $ref: "#/components/schemas/JsonLocalizedName"
        id:
          type: integer
        iconUrls:
          type: object
    League:
      type: object
      properties:
        name:
          $ref: "#/components/schemas/JsonLocalizedName"
        id:
          type: integer
        iconUrls:
          type: object
    LeagueSeasonResultList:
      type: array
      items:
        $ref: "#/components/schemas/LeagueSeasonResult"
    LeagueSeasonResult:
      type: object
      properties:
        leagueSeasonId:
          $ref: "#/components/schemas/Long"
        leagueTrophies:
          type: integer
        leagueTierId:
          type: integer
        placement:
          type: integer
        attackWins:
          type: integer
        attackLosses:
          type: integer
        attackStars:
          type: integer
        defenseWins:
          type: integer
        defenseLosses:
          type: integer
        defenseStars:
          type: integer
        maxBattles:
          type: integer
    long:
      $ref: "#/components/schemas/Long"
    LeagueSeasonList:
      type: array
      items:
        $ref: "#/components/schemas/LeagueSeason"
    LeagueSeason:
      type: object
      properties:
        id:
          type: string
    LeagueGroup:
      type: object
      properties:
        members:
          type: array
          items:
            $ref: "#/components/schemas/LeagueGroupMember"
        parameters:
          $ref: "#/components/schemas/LeagueGroupParameters"
        attackLogs:
          type: array
          items:
            $ref: "#/components/schemas/LeagueBattleLogEntry"
        defenseLogs:
          type: array
          items:
            $ref: "#/components/schemas/LeagueBattleLogEntry"
    LeagueGroupBattleLogEntryList:
      type: array
      items:
        $ref: "#/components/schemas/LeagueBattleLogEntry"
    LeagueBattleLogEntry:
      type: object
      properties:
        opponentPlayerTag:
          type: string
        opponentName:
          type: string
        stars:
          type: integer
        destructionPercentage:
          type: integer
        trophies:
          type: integer
        creationTime:
          type: string
    LeagueGroupParameters:
      type: object
      properties:
        leagueId:
          type: integer
        maxBattles:
          type: integer
        activeModifier:
          type: array
          items:
            type: string
        promoteCount:
          type: integer
        demoteCount:
          type: integer
        seasonId:
          $ref: "#/components/schemas/Long"
    LeagueGroupMemberList:
      type: array
      items:
        $ref: "#/components/schemas/LeagueGroupMember"
    LeagueGroupMember:
      type: object
      properties:
        playerTag:
          type: string
        playerName:
          type: string
        clanTag:
          type: string
        clanName:
          type: string
        leagueTrophies:
          type: integer
        attackWinCount:
          type: integer
        attackLoseCount:
          type: integer
        defenseWinCount:
          type: integer
        defenseLoseCount:
          type: integer
    PlayerVillage:
      type: object
      properties:
        tag:
          type: string
        village:
          $ref: "#/components/schemas/JsonNode"
    BuilderBaseLeagueList:
      type: array
      items:
        $ref: "#/components/schemas/BuilderBaseLeague"
    VerifyTokenRequest:
      type: object
      properties:
        token:
          type: string
    VerifyToken:
      type: object
      properties:
        tag:
          type: string
        token:
          type: string
        status:
          type: string
    Clan:
      type: object
      properties:
        memberList:
          type: array
          items:
            $ref: "#/components/schemas/ClanMember"
        warLeague:
          $ref: "#/components/schemas/WarLeague"
        capitalLeague:
          $ref: "#/components/schemas/CapitalLeague"
        tag:
          type: string
        warFrequency:
          type: array
          items:
            type: string
        clanLevel:
          type: integer
        warWinStreak:
          type: integer
        warWins:
          type: integer
        warTies:
          type: integer
        warLosses:
          type: integer
        clanPoints:
          type: integer
        isFamilyFriendly:
          type: boolean
        chatLanguage:
          $ref: "#/components/schemas/Language"
        requiredLeagueTier:
          $ref: "#/components/schemas/LeagueTier"
        isWarLogPublic:
          type: boolean
        clanBuilderBasePoints:
          type: integer
        clanCapitalPoints:
          type: integer
        requiredTrophies:
          type: integer
        requiredBuilderBaseTrophies:
          type: integer
        requiredTownhallLevel:
          type: integer
        labels:
          type: array
          items:
            $ref: "#/components/schemas/Label"
        name:
          type: string
        location:
          $ref: "#/components/schemas/Location"
        type:
          type: array
          items:
            type: string
        members:
          type: integer
        description:
          type: string
        clanCapital:
          $ref: "#/components/schemas/ClanCapital"
        badgeUrls:
          type: object
    ClanCapital:
      type: object
      properties:
        capitalHallLevel:
          type: integer
        districts:
          type: array
          items:
            $ref: "#/components/schemas/ClanDistrictData"
        clanGoldSinkTotal:
          $ref: "#/components/schemas/Long"
    Long:
      type: object
    ClanDistrictDataList:
      type: array
      items:
        $ref: "#/components/schemas/ClanDistrictData"
    ClanDistrictData:
      type: object
      properties:
        name:
          $ref: "#/components/schemas/JsonLocalizedName"
        id:
          type: integer
        districtHallLevel:
          type: integer
    Language:
      type: object
      properties:
        name:
          type: string
        id:
          type: integer
        languageCode:
          type: string
    CapitalLeague:
      type: object
      properties:
        name:
          $ref: "#/components/schemas/JsonLocalizedName"
        id:
          type: integer
    ClanWar:
      type: object
      properties:
        clan:
          $ref: "#/components/schemas/WarClan"
        battleModifier:
          type: array
          items:
            type: string
        teamSize:
          type: integer
        opponent:
          $ref: "#/components/schemas/WarClan"
        attacksPerMember:
          type: integer
        startTime:
          type: string
        state:
          type: array
          items:
            type: string
        endTime:
          type: string
        preparationStartTime:
          type: string
    WarClan:
      type: object
      properties:
        destructionPercentage:
          $ref: "#/components/schemas/Float"
        tag:
          type: string
        name:
          type: string
        badgeUrls:
          type: object
        clanLevel:
          type: integer
        attacks:
          type: integer
        stars:
          type: integer
        expEarned:
          type: integer
        members:
          type: array
          items:
            $ref: "#/components/schemas/ClanWarMember"
    ClanWarMemberList:
      type: array
      items:
        $ref: "#/components/schemas/ClanWarMember"
    ClanWarMember:
      type: object
      properties:
        tag:
          type: string
        name:
          type: string
        mapPosition:
          type: integer
        townhallLevel:
          type: integer
        opponentAttacks:
          type: integer
        bestOpponentAttack:
          $ref: "#/components/schemas/ClanWarAttack"
        attacks:
          type: array
          items:
            $ref: "#/components/schemas/ClanWarAttack"
    ClanWarAttackList:
      type: array
      items:
        $ref: "#/components/schemas/ClanWarAttack"
    ClanWarAttack:
      type: object
      properties:
        order:
          type: integer
        attackerTag:
          type: string
        defenderTag:
          type: string
        stars:
          type: integer
        destructionPercentage:
          type: integer
        duration:
          type: integer
    Float:
      type: object
    BattleLogEntryList:
      type: array
      items:
        $ref: "#/components/schemas/BattleLogEntry"
    BattleLogEntry:
      type: object
      properties:
        battleType:
          type: array
          items:
            type: string
        attack:
          type: boolean
        armyShareCode:
          type: string
        opponentPlayerTag:
          type: string
        opponentName:
          type: string
        opponentTownHallLevel:
          type: integer
        stars:
          type: integer
        destructionPercentage:
          type: integer
        lootedResources:
          type: array
          items:
            $ref: "#/components/schemas/Resource"
        extraLootedResources:
          type: array
          items:
            $ref: "#/components/schemas/Resource"
        availableLoot:
          type: array
          items:
            $ref: "#/components/schemas/Resource"
        battleTime:
          type: integer
        battleTimestamp:
          type: string
    BattleLogResourceList:
      type: array
      items:
        $ref: "#/components/schemas/Resource"
    Resource:
      type: object
      properties:
        name:
          type: string
        amount:
          $ref: "#/components/schemas/Long"
    ClanBuilderBaseRankingList:
      type: array
      items:
        $ref: "#/components/schemas/ClanBuilderBaseRanking"
    ClanBuilderBaseRanking:
      type: object
      properties:
        clanPoints:
          type: integer
        clanBuilderBasePoints:
          type: integer
    PlayerBuilderBaseRankingList:
      type: array
      items:
        $ref: "#/components/schemas/PlayerBuilderBaseRanking"
    PlayerBuilderBaseRanking:
      type: object
      properties:
        clan:
          $ref: "#/components/schemas/PlayerRankingClan"
        builderBaseLeague:
          $ref: "#/components/schemas/BuilderBaseLeague"
        tag:
          type: string
        name:
          type: string
        expLevel:
          type: integer
        rank:
          type: integer
        previousRank:
          type: integer
        builderBaseTrophies:
          type: integer
    PlayerRankingClan:
      type: object
      properties:
        tag:
          type: string
        name:
          type: string
        badgeUrls:
          type: object
    ClanList:
      type: array
      items:
        $ref: "#/components/schemas/Clan"
    PlayerRankingList:
      type: array
      items:
        $ref: "#/components/schemas/PlayerRanking"
    PlayerRanking:
      type: object
      properties:
        clan:
          $ref: "#/components/schemas/PlayerRankingClan"
        league:
          $ref: "#/components/schemas/League"
        leagueTier:
          $ref: "#/components/schemas/LeagueTier"
        attackWins:
          type: integer
        defenseWins:
          type: integer
        tag:
          type: string
        name:
          type: string
        expLevel:
          type: integer
        rank:
          type: integer
        previousRank:
          type: integer
        trophies:
          type: integer
    LeagueList:
      type: array
      items:
        $ref: "#/components/schemas/League"
    LeagueTierList:
      type: array
      items:
        $ref: "#/components/schemas/LeagueTier"
    ClanWarLog:
      type: array
      items:
        $ref: "#/components/schemas/ClanWarLogEntry"
    ClanWarLogEntry:
      type: object
      properties:
        clan:
          $ref: "#/components/schemas/WarClan"
        battleModifier:
          type: array
          items:
            type: string
        teamSize:
          type: integer
        opponent:
          $ref: "#/components/schemas/WarClan"
        attacksPerMember:
          type: integer
        endTime:
          type: string
        result:
          type: array
          items:
            type: string
    GoldPassSeason:
      type: object
      properties:
        startTime:
          type: string
        endTime:
          type: string
    DeepLinkCreationRequest:
      type: object
      properties:
        playerTags:
          type: array
          items:
            $ref: "#/components/schemas/String"
        clanTag:
          type: string
        opponentClanTag:
          type: string
    StringList:
      type: array
      items:
        $ref: "#/components/schemas/String"
    String:
      type: object
    DeepLinkCreationResponse:
      type: object
      properties:
        link:
          type: string
    ClanWarLeagueGroup:
      type: object
      properties:
        tag:
          type: string
        state:
          type: array
          items:
            type: string
        season:
          type: string
        clans:
          type: array
          items:
            $ref: "#/components/schemas/ClanWarLeagueClan"
        rounds:
          type: array
          items:
            $ref: "#/components/schemas/ClanWarLeagueRound"
    ClanWarLeagueRoundList:
      type: array
      items:
        $ref: "#/components/schemas/ClanWarLeagueRound"
    ClanWarLeagueRound:
      type: object
      properties:
        warTags:
          type: string
    ClanWarLeagueClanList:
      type: array
      items:
        $ref: "#/components/schemas/ClanWarLeagueClan"
    ClanWarLeagueClan:
      type: object
      properties:
        tag:
          type: string
        clanLevel:
          type: integer
        name:
          type: string
        members:
          type: array
          items:
            $ref: "#/components/schemas/ClanWarLeagueClanMember"
        badgeUrls:
          type: object
    ClanWarLeagueClanMemberList:
      type: array
      items:
        $ref: "#/components/schemas/ClanWarLeagueClanMember"
    ClanWarLeagueClanMember:
      type: object
      properties:
        tag:
          type: string
        townHallLevel:
          type: integer
        name:
          type: string
    ClanRankingList:
      type: array
      items:
        $ref: "#/components/schemas/ClanRanking"
    ClanRanking:
      type: object
      properties:
        clanLevel:
          type: integer
        clanPoints:
          type: integer
        location:
          $ref: "#/components/schemas/Location"
        members:
          type: integer
        tag:
          type: string
        name:
          type: string
        rank:
          type: integer
        previousRank:
          type: integer
        badgeUrls:
          type: object
    CapitalLeagueList:
      type: array
      items:
        $ref: "#/components/schemas/CapitalLeague"
    Player:
      type: object
      properties:
        clan:
          $ref: "#/components/schemas/PlayerClan"
        league:
          $ref: "#/components/schemas/League"
        leagueTier:
          $ref: "#/components/schemas/LeagueTier"
        builderBaseLeague:
          $ref: "#/components/schemas/BuilderBaseLeague"
        role:
          type: array
          items:
            type: string
        warPreference:
          type: array
          items:
            type: string
        attackWins:
          type: integer
        defenseWins:
          type: integer
        townHallLevel:
          type: integer
        townHallWeaponLevel:
          type: integer
        legendStatistics:
          $ref: "#/components/schemas/PlayerLegendStatistics"
        troops:
          type: array
          items:
            $ref: "#/components/schemas/PlayerItemLevel"
        heroes:
          type: array
          items:
            $ref: "#/components/schemas/PlayerItemLevel"
        heroEquipment:
          type: array
          items:
            $ref: "#/components/schemas/PlayerItemLevel"
        spells:
          type: array
          items:
            $ref: "#/components/schemas/PlayerItemLevel"
        labels:
          type: array
          items:
            $ref: "#/components/schemas/Label"
        tag:
          type: string
        name:
          type: string
        expLevel:
          type: integer
        trophies:
          type: integer
        bestTrophies:
          type: integer
        donations:
          type: integer
        donationsReceived:
          type: integer
        builderHallLevel:
          type: integer
        builderBaseTrophies:
          type: integer
        bestBuilderBaseTrophies:
          type: integer
        warStars:
          type: integer
        achievements:
          type: array
          items:
            $ref: "#/components/schemas/PlayerAchievementProgress"
        clanCapitalContributions:
          type: integer
        playerHouse:
          $ref: "#/components/schemas/PlayerHouse"
        currentLeagueGroupTag:
          type: string
        currentLeagueSeasonId:
          $ref: "#/components/schemas/Long"
        previousLeagueGroupTag:
          type: string
        previousLeagueSeasonId:
          $ref: "#/components/schemas/Long"
    PlayerAchievementProgressList:
      type: array
      items:
        $ref: "#/components/schemas/PlayerAchievementProgress"
    PlayerAchievementProgress:
      type: object
      properties:
        stars:
          type: integer
        value:
          type: integer
        name:
          $ref: "#/components/schemas/JsonLocalizedName"
        target:
          type: integer
        info:
          $ref: "#/components/schemas/JsonLocalizedName"
        completionInfo:
          $ref: "#/components/schemas/JsonLocalizedName"
        village:
          type: array
          items:
            type: string
    PlayerItemLevelList:
      type: array
      items:
        $ref: "#/components/schemas/PlayerItemLevel"
    PlayerItemLevel:
      type: object
      properties:
        level:
          type: integer
        name:
          $ref: "#/components/schemas/JsonLocalizedName"
        maxLevel:
          type: integer
        village:
          type: array
          items:
            type: string
        superTroopIsActive:
          type: boolean
        equipment:
          type: array
          items:
            $ref: "#/components/schemas/PlayerItemLevel"
    PlayerLegendStatistics:
      type: object
      properties:
        bestSeason:
          $ref: "#/components/schemas/LegendLeagueTournamentSeasonResult"
        legendTrophies:
          type: integer
        previousSeason:
          $ref: "#/components/schemas/LegendLeagueTournamentSeasonResult"
        previousBuilderBaseSeason:
          $ref: "#/components/schemas/LegendLeagueTournamentSeasonResult"
        bestBuilderBaseSeason:
          $ref: "#/components/schemas/LegendLeagueTournamentSeasonResult"
        currentSeason:
          $ref: "#/components/schemas/LegendLeagueTournamentSeasonResult"
    LegendLeagueTournamentSeasonResult:
      type: object
      properties:
        trophies:
          type: integer
        id:
          type: string
        rank:
          type: integer
    PlayerClan:
      type: object
      properties:
        tag:
          type: string
        clanLevel:
          type: integer
        name:
          type: string
        badgeUrls:
          type: object
    ClientError:
      type: object
      properties:
        reason:
          type: string
        message:
          type: string
        type:
          type: string
        detail:
          type: object
